.main_info{
    color:antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}
h1,h2,h3{
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 2rem;
}
h1{
    font-size: 6em;
    margin: 1em 0 0.5em 0;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 1.5em;
    margin-bottom: 0.75em;
}
.icon{
    margin-bottom: 2em;
}
p{
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
}
p>span{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}
p::first-letter{
    text-transform: capitalize;
}




.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
